body {
  font-family: "minion-pro-display";
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "minion-pro-display";
  font-weight: 700;
}

.nav > a {
  text-decoration: none;
}

header.masthead {
  position: relative;
  background-color: #007bff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}


.modal-title{
  color: black;
}

.modal-body>#exampleInputEmail1{
  color: black;
}
.masthead > a{
  text-decoration: none;
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 0.8;
}

@media (min-width: 768px) {
  header.masthead h1 {
    font-size: 8rem;
  }
}

.showcase .showcase-text {
  font-size: 1.2rem;
  margin-top: 1em;
}

.showcase .showcase-img {
  margin-top: 2em;
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("./img/bg-masthead.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color:#adb5bd;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.call-to-action>.modal-dialog{
  font-color:black;
}

.modal-dialog>label{
  font-color:black;
}