<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"> </script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">
    {%block customcss %}{% endblock %}
    <title>{% block title %}{% endblock %} by Pier 51</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top justify-content-right">
    <a class="navbar-brand" href="/">
        <img src="/static/img/olana-postcards-mark.png" width="30" height="30" class="d-inline-block align-top" alt="Olana Postcards" loading="lazy">
        <span style="padding-top:3px;display:inline-block;">Olana Postcards</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#showcase">Know More</a>
            </li>
        </ul>
    </div>
</nav>
{% block body %}
{% endblock %}
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-center mx-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="/team">Meet our Team</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Made with ❤ by Team Pier 51 at THE PORT 2020</p>
            </div>
        </div>
    </div>
</footer>