{% extends 'base.html' %}

{% block title %} Team {% endblock%}
{% block body %}
    <section class="team">
        <div class="container-lg">
            <div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">We're the team behind Cardy!</p>
                <hr class="my-4">
                <p>Unlike every year, we met online, hacked through zoom meetings</p>
            </div>

        </div>

    </section>
    <section>
        <div class="container">
                {% for name, role, img, about in team %}
                {% if loop.index%3 == 1 %}
                <div class="row">
                {% endif %}
                    <div class="col-md-4">
                        <div class="card">
                            <img src={{img}} alt="{{name}}" style="width:100%">
                            <h3>{{name}}</h3>
                            <hr>
                            <p class="role">{{role}}</p>
                        </div>
                    </div>
                {% if loop.index%3 == 0 %}
                </div>
                {% endif %}

                {% endfor %}
        </div>
    </section>
{% endblock %}